{% extends 'base.html' %}
{% block title %}Admin Login | Smart Canteen{% endblock %}
{% block content %}
<section class="auth-section">
  <div class="auth-card">
    <h2>Admin Login</h2>
    <form method="post">
      <div>
        <label>Email</label>
        <input type="email" name="email" required />
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password" required />
      </div>
      <button type="submit" class="btn btn-primary">Login as Admin</button>
    </form>
  </div>
</section>
{% endblock %}
